*.iml
.gradle
/app/.gradle
/local.properties
/.idea/caches
/app/.idea/caches
/.idea/libraries
/app/.idea/libraries
/.idea/modules.xml
/app/.idea/modules.xml
/.idea/workspace.xml
/app/.idea/workspace.xml
/.idea/navEditor.xml
/app/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/.idea/assetWizardSettings.xml
.DS_Store
/app/.DS_Store
/build
/app/build
/captures
/app/captures
.externalNativeBuild
.cxx
local.properties
/app/local.properties
