# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.*.local
.env.test
.env.production

# Output
build/
dist/

# Dependency directories
jspm_packages/
bower_components/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
coverage/
.nyc_output/

# Operating System Files
.DS_Store
Thumbs.db